body {
font-family: 'Montserrat', sans-serif;
font-size: larger;
}

.top-header{
    padding: 5px;
    text-align: center;
    background-color:#55668c;
    color:black;
    margin: 0;
}
/* phone or baseline views ******/
main{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: 0;
}

.header{
    padding: 10px;
    text-align: left; 
    background-color: #55668c;
    color: white;
    margin: 0;
    
    }

.footer{
    padding: 25px;
    text-align:center;
    background-color: #55668c;
    color: black;
    margin:0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Gelsasio', serif;
}



main section{
    margin: 0;
    padding: 0.1rem;
    background-color: #F3F3F3;
}




.colimage{
   }

.colimage2{}

.colimage3{}



/*Tablet Views******/
@media only screen and (min-width: 37.5em){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    section:nth-child(2){
        display: block;
    }

    section:nth-child(3){
        grid-column: span 2;
    }

    main picture {}
    main section picture img {}
}

/*Desktop views ********/
@media only screen and (min-width: 60em){

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    section:nth-child(3){
        grid-column: span 1;
    }
}


