
body {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    }
    
    .top-header{
        padding: 5px;
        text-align: center;
        background-color:#55668c;
        color:#f3f3f3;
        margin: 0;
    }
/* phone or baseline views ******/
main{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: 0;
}

.header{
    padding: 10px;
    text-align: left; 
    background-color: #55668c;
    color: white;
    margin: 0;
    
    }

.footer{
    padding: 25px;
    text-align:center;
    background-color: #55668c;
    color: black;
    margin:0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Gelsasio', serif;
}



main section{
    margin: 0;
    padding: 1.5rem;
    background-color: #F3F3F3;
}