/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 32.5em) {
    
  
    
    h1{
        text-align: center;
        font-weight: bold;
    }

   
    
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        align-content: center;
        margin: 10px auto;
        width: 100%;
      
    }
   
   
} /*end medium */

