.site-banner {
    display: block;
    background-color:#056cb6;
  }
  
  .white-text{
    display: flex;
  }
  
  .site-banner__left{
    border:solid black 3px;
    
  }
  
  .icon-byui-logo:before {
    content: '\e90d';
  }


