
.site-banner {
    display: flex;
    background-color:#056cb6;
    justify-content: space-evenly;
  }
  
  .white-text{
    display: flex;
  }
  
  .site-banner__left{
    border:solid black 3px;
    
  }
  
  .icon-byui-logo:before {
    content: '\e90d';

    background-color: black;
  }


