/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    font-family: 'Overpass', sans-serif;
    }
 
    main{
        padding:40px;
        display: block;
        margin: 0;
    }
    
    #logo{
        
        position: relative;
        background-color: #00B0DA;
        border: #00b0da 1px solid;
        border-radius: 4px;
        width: 400px;
        margin-top: -30px;
    
    }
    .yours{
        text-align:center;
        margin-top: -55px;
        font-size: .8em;
        
     }
    .top-header{
        padding: 45px;
        background-color: #00B0DA;
        color:white;
        margin: 0;
        
    }
.top-header{
    display: flex;
    align-content: center;
    justify-content: center;
}


nav button {
    margin-left: 7em;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    
}

nav {
    background-color: #d5d5d7;
    font-size: 1.5em;
    line-height: 3em;
    margin-top: 65px;
    font-family: 'Overpass', sans-serif;

}
nav a {
    color: black;
    padding: 1em .6em;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: underline;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);

}



nav ul li.active a{
    background-color: rgba(0,0,0,0.2); color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
    text-decoration: underline;
}

nav ul.hide{
    display:none;
}

.preston{
    text-align: center;
}
 h1, h2, h3, h4, h5, h6{
     
     font-family: 'Raleway', sans-serif;
 }
 

 .hero{
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
 }

 

 .weathersummary{
     position: absolute;
     top: 5rem;
     left: 10rem;
     background: radial-gradient(grey, lightgrey);
     border: transparent;
     padding: .5rem;
     box-shadow: 0 0 20px #777;
     
 }

 table, th, td{
     border: 1px solid #777;
     border-collapse: collapse;
     padding: 5px;
 }

 th{
     font-weight: 800px;
     font-size: 20px;
     background-color: #00B0DA;
      }

td{
    background-color:white;
    font-size: 15px;
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: underline;
}
 
#forecastdiv.hide{
    display:none;
}
 .forecast{
   display: flex;
   justify-content: center;
     
 }

 #article{
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
 }

 .articlebody, .articleimg{
     width: 50%;
     flex: 1 0 15em;
     margin: .5em;

 }

 #img1{
     box-shadow: 6px 6px 6px black;
     height: 300px;
     width: auto;
 }

 .box3{
    background-color: lightgrey;
    border: black dotted 1px;
    align-content: center;
}

 .box4{
     background-color: lightgrey;
     border: black dotted 1px;
     align-content: center;
 }

 #contact{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.map, .contactinfo{
    width: 50%;
    flex: 1 0 15em;
    margin: .5em;

}
#mapdiv.hide{
    display:none;
}

#banner{
    display:block;
    width: 100%;
    padding: 12px;
    background-color: yellow;
    color:black;
    text-align:center;
    
}
 .footer{
    padding: 20px;
    margin: 15px;
    background-color: #00B0DA;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
