@media only screen and (min-width: 20rem) {
    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
    html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
    
    /*----------- apply a natural box layout model to all elements --------------*/
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    


body{
    font-family: 'Roboto', sans-serif;
    
}
main{
    margin: 10px;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Marcellus SC', serif;
}

h2{
    color: #985941;
}

h3{
    color: #585b6e;
}

header, footer{
    width: 100%;
    margin: 0 auto;
    background-color: #985941;
    color: whitesmoke;
    padding: 4px;
} 
#logo{
    padding: .5em;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


 .topnumber{
     float: right;
     margin-top: auto;
     margin-right: 5px;
     font-family: 'Roboto', sans-serif;
     
 }
 #title{
    float:right;
    padding: .5em;
    margin-top: auto;
    margin-right: -12em;
    color: #585b6e;
  
}
 nav button {
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: #585b6e;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    
}

nav {
    
    font-size: 1.5em;
    line-height: 3em;
    margin-top: -10px;
    margin-bottom: -50px;
    font-family: 'Roboto', sans-serif;

}
 
nav a {
    color: black;
    padding: 1em .6em;
    
}
nav ul {
    list-style-type: none;
    padding: .5em;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .5em 1%;
    text-decoration: none;
    color: black;
   
}

nav ul li#active a{
    text-decoration: underline;
}


nav ul li a:hover {
    background-color: rgba(88,91,110,.8); color: black;
    
}
nav ul.hide{
    display:none;
}

.dropdown{
    
    overflow: hidden;
    border: none;
    background-color:inherit;
}

.dropdown-content{
    display:none;
    text-decoration: none;
}
.dropdown-content a {
    display: block;
    padding: 1%;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: rgba(88,91,110,.8);
  
}
.dropdown:hover .dropdown-content{
    display: block;
}


#contact{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}
.contactinfo{
    text-align: center;
    justify-content: center;
}
#map,#call{
    text-align: center;
    justify-content: center;
}

.contactpic{
   margin-left:auto;
   margin-right:auto;
   width: 100%;    
    
 }
#contactform{
    text-align: center;
}
form fieldset{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 50%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;

}

form input.submitBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    background-color:#585b6e;
    color: whitesmoke;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;

}

form label.top input:required:valid{
    border-left: green solid 6px;
}

textarea {
    padding: 0.5rem;
    margin-bottom: .25rem;
}

 #footer{
    width: 100%;
    margin: 0 auto;
    background-color: #985941;
    color: whitesmoke;
    text-align: center;
} 

 .footerpic{
     width: 100%;
 }
 /*----- Clearfix: Force an Element not to collapse -----*/
 .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
} /*----end of small view---*/

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 50em) {
    #logo{
       margin-left: auto;
       margin-right: auto;
       margin-bottom: -4.5em;
      
      
    }
      

    nav button {
            display: block;
             margin-left: auto;
             margin-right: auto;
             margin-bottom: 1em;
             background-color: #585b6e;
             border: none;
             font-size: 1.6rem;
             color: #fff;
             
         }
         
   
   
    #call{
        margin-top: -250px;
        padding: 25px;
    }
   
} /*end medium */

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 75rem) {
    #logo{
        padding: .5em;
        margin-bottom: -.5em;
        float: left;
        
    }
    nav{
    margin-top: 6em; 
    
    }
    nav button{
        display:none;
    }

    nav ul.hide{
        display:block;
    }
    nav ul {
        margin-left: 35%;
    }
    nav ul li{
        float: left;
        
    }
  
    nav ul li a{
        border: none;
        padding: .6rem 1rem;}
    
        #call{
            margin-top: -250px;
            padding: 25px;
        }
.dropdown{
    float:left;
}
        .dropdown-content{
            display:none;
            text-decoration: none;
        }
  
} /*end large */

@media only screen and (min-width: 100rem) {
    nav ul {
        margin-left: 50%;
    }
}