@media only screen and (min-width: 20rem) {
    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
    html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
    
    /*----------- apply a natural box layout model to all elements --------------*/
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    


body{
    font-family: 'Roboto', sans-serif;
    
}
main{
    margin: 10px;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Marcellus SC', serif;
}

h2{
    color: #985941;
}

h3{
    color: #585b6e;
}
 a {
     color: #985941;
 }
header, footer{
    width: 100%;
    margin: 0 auto;
    background-color: #985941;
    color: whitesmoke;
    padding: 4px;
} 
#logo{
    padding: .5em;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


 .topnumber{
     float: right;
     margin-top: auto;
     margin-right: 5px;
     font-family: 'Roboto', sans-serif;
     
 }
 #title{
    float:right;
    padding: .5em;
    margin-top: auto;
    margin-right: -12em;
    color: #585b6e;
  
}
 nav button {
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: #585b6e;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    
}

nav {
    
    font-size: 1.5em;
    line-height: 3em;
    margin-top: -10px;
    margin-bottom: -50px;
    font-family: 'Roboto', sans-serif;

}
 
nav a {
    color: black;
    padding: 1em .6em;
    
}
nav ul {
    list-style-type: none;
    padding: .5em;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .5em 1%;
    text-decoration: none;
    color: black;
   
}

nav ul li#active a{
    text-decoration: underline;
}


nav ul li a:hover {
    background-color: rgba(88,91,110,.8); color: black;
    
}
nav ul.hide{
    display:none;
}

.dropdown{
    
    overflow: hidden;
    border: none;
    background-color:inherit;
}

.dropdown-content{
    display:none;
    text-decoration: none;
}
.dropdown-content a {
    display: block;
    padding: 1%;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: rgba(88,91,110,.8);
  
}
.dropdown:hover .dropdown-content{
    display: block;
}

.hero{
    margin: 2px auto;
    justify-content: center;
    width: 100%;

 }

 .heropic{
    width: 100%;
     
 }

 .box2{
    width:100%;
    padding: 5px;
    border: black solid 1px;
  
  
}
 .weatherpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
 }

 .weatherinfo{
     text-align: center;
     justify-content: center;
 }

 #adventure, #guides{
     color:#985941;
     text-align: center;
     
 }
 #grid{
        display: flex;
        flex-flow: row wrap;        
        align-content: space-between;
        justify-content: center;
    }

.adventurepic{
    width: 400px;
    height: 341px;
   
}
figure:hover {
    box-shadow: 0 0 50px #585b6e;
}
 .guides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: #585b6e solid 4px;
    width: 75%;
 }

 
 #lastmodified{
    text-decoration: underline;
    color: whitesmoke;
    
}




 #footer{
    width: 100%;
    margin: 0 auto;
    background-color: #985941;
    color: whitesmoke;
    text-align: center;
} 
#footerlink{
    color:whitesmoke;
}
 .footerpic{
     width: 100%;
 }
 /*----- Clearfix: Force an Element not to collapse -----*/
 .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
} /*----end of small view---*/

/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 50em) {
    #logo{
       margin-left: auto;
       margin-right: auto;
       margin-bottom: -4.5em;
      
      
    }
      

    nav button {
            display: block;
             margin-left: auto;
             margin-right: auto;
             margin-bottom: 1em;
             background-color: #585b6e;
             border: none;
             font-size: 1.6rem;
             color: #fff;
             
         }
         
   
   
} /*end medium */

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 75rem) {
    #logo{
        padding: .5em;
        margin-bottom: -.5em;
        float: left;
        
    }
    nav{
    margin-top: 6em; 
    
    }
    nav button{
        display:none;
    }

    nav ul.hide{
        display:block;
    }
    nav ul {
        margin-left: 35%;
    }
    nav ul li{
        float: left;
        
    }
  
    nav ul li a{
        border: none;
        padding: .6rem 1rem;}
    
       
.dropdown{
    float:left;
}
        .dropdown-content{
            display:none;
            text-decoration: none;
        }
  
} /*end large */

@media only screen and (min-width: 100rem) {
    nav ul {
        margin-left: 50%;
    }
}